@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sacramento&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Typography */
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  /* Colors */
  --gray-color: #222;
  --drk-color: #444;
  --pri-color: #64dfdf;
  --sec-color: #836fff;
  --ter-color: #80ffdb;
}

.wave-patterns {
  position: absolute;
  transform: translateY(-140px);
  left: 0;
}

body {
  padding: 1.55em 2em;
  overflow-y: hidden;
  /* color: #fff;
  background-color: var(--drk-color); */
}

img {
  width: 100%;
}

.logo-text {
  font-size: 2.25rem;
  letter-spacing: -3px;
}

nav,
.nav-panel {
  display: flex;
  align-items: center;
  column-gap: 4em;
}

.spl-itm {
  border: 1px solid var(--pri-color);
  padding: 0.66em 1.45em;
}

nav {
  margin-bottom: 55px;
}

.nav-panel {
  column-gap: 1em;
}

.page-header {
  margin-bottom: 16px;
}

/* EVENT DETAILS */
.event-details {
  position: relative;

  display: grid;
  column-gap: 1.66em;
  grid-template-columns: 60% auto;
}
.image-event {
  grid-row-start: 1;
  grid-row-end: 4;
}

/* FEATURE DETAILS */
.feature-item {
  font-size: 12px;
  grid-column: 2 / -1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  column-gap: 1em;
}

.wrapper {
  display: flex;
  column-gap: 1em;
  align-items: center;
  font-size: 0.88em;
  margin-bottom: 0.66em;
}

.det {
  font-weight: 700;
  font-size: 2em;
}

.feat-ico {
  max-width: 3em;
}

.event-description p {
  line-height: 1.68;
  font-size: 15px;
}

#upcoming-event {
  position: relative;
}
/* 
.button {
  max-width: 48px;
  padding: 0;
  background: none;
  border: none;
  transition: 0.33s ease-in-out;
}

.button:active {
  transform: scale(0.7);
}

more {
  opacity: 0.24;
  filter: brightness(0.55);
  display: flex;
  column-gap: 1em;
  justify-content: space-between;
  position: absolute;
  z-index: 1;
  bottom: -30px;
  background-color: var(--pri-color);
  border-radius: 32px;
}
*/

#root {
  display: grid;
  column-gap: 2em;
  grid-template-columns: 1080px 36px 240px;
  grid-template-rows: repeat(2, auto);
}

/* ASIDE ELEMENT */
aside {
  line-height: 1.44;
  font-size: 0.88em;
  grid-column: 3 / 4;
  grid-row: 1 / -1;

  display: grid;
  grid-template-columns: auto;
  row-gap: 0.88em;
}

aside p:first-child {
  font-size: 2.22em;
}

.details {
  font-size: 0.77em;
}

.more-event-heading {
  font-size: 1.35em;
}

.more-event-image {
  max-width: 55%;
}

footer {
  font-weight: 600;
  color: var(--drk-color);
  position: absolute;
  left: 2em;
  top: 88vh;
  z-index: 1000;
}

.social {
  margin-top: 0.66em;
}

.ico-social {
  max-width: 2.15rem;
}
